* {
margin: 0;
padding: 0;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */

body {
font-size: 18px;
line-height: 1.4em;
font-family: 'slabo', sans-serif;
color: #333;
}
hr {
  width: 80vw;
  align-self: center;
}
.page{
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}
.hero {
  width: 100vw;
  height: 50vh;
  background: #222 url('./images/test5.jpg') center;
  filter: grayscale(70%);
}
.description{
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
}
.about {
  width: 700px;
}
.about p {
  margin: 10px 0 20px;
}
.feature {
  font-size: 20px;
  font-weight: bold;
}

ol, ul {
list-style: none;
}
.result {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
  overflow: scroll;
}
.book_result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}
.result_text {
  text-align: left;
}
.result_text p {
  margin: 2px 0;
}
.reslabel {
  color: #046e8f;
}
/* body, header, footer */

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero header h1 {
  color: #fafafa;
}
header, footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
header a {
  padding: 0 5px;
  color: #046e8f;
  text-decoration: none;
  transition: all 0.4s ease;
}

header a:hover {
  text-decoration: underline;
}

footer a {
  text-decoration: none;
  color: #046e8f;
}

.logo {
  font-size: 2em;
  font-weight: 700;
  align-self: flex-end;
  flex-grow: 2;
  text-align: left;
}

/* forms */
.main_container {
  display: flex;
  flex-direction: column;
}
.form_container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-self: center;
}
form {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-self: center;
}
form button {
  align-self: center;
}
.secondaryBtn {
  color: #046e8f;
  background: #fafafa;

}
.registration_form {
  display: flex;
  flex: 2;
}
.search_container {
  height: 25vh;
  width: 550px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.search_form {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
}
input {
  border: 1 px solid gray;
  margin: 10px;
}
button {
  color: white;
  background: #046e8f;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #046e8f;
  transition: all 0.4s ease;
  cursor: pointer;   
}
/* user dash */
.greeting {
  align-self: flex-start;
  margin: 0 10px 20px 12px;
  text-align: left;
}

.shelf {
  width: 500px;
  height: 200px;
  border-bottom: 13px solid #333;
  text-align: center;
	padding: 0 27px;
  margin-bottom: 20px;
  background: transparent;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-self: center;
  box-shadow: 0px 17px 12px -10px rgba(0,0,0,0.6);
}

.book {
      margin: 0 30px;
    }
/* individual book page */
.description_container{
  height: 300px;
  width: 400px;
  padding: 3px 10px;
  border: 1px solid #9a9a9a;
  margin-bottom: 20px;
  overflow: scroll;
  word-wrap: break-word;
  text-align: left;
  align-self: center;
}
.review_container{
  height: 200px;
  width: 400px;
  padding: 3px 10px;
  border: 1px solid #9a9a9a;
  overflow: scroll;
  word-wrap: break-word;
  text-align: left;
}
.book_info {
  display: flex;
  margin: 30px 0 10px;
  align-self: center;
}
.user_info {
  display: flex;
  margin-top: 10px;
  align-self: center;
  flex: 2;
}
.short_info {
  text-align: left;
  margin-left: 12px;
  order: 1;
  width: 200px;
}
.short_info button {
  margin: 20px 10px 20px 0;
}
.long_info_container {
  display: flex;
  flex-direction: column;
  order: 2;
}
.long_info {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  order: 2;
}
.long_info p {
  align-self: center;
}
.info_edit {
  display: flex;
  justify-content: center;
}
.bookEdit_form {
  flex-direction: row;
  margin-top: 20px;
}

/*###### Mobile Media Query ######*/
@media screen and (max-width: 600px) {
.about {
  width: 300px;
}

}