* {
margin: 0;
padding: 0;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */

body {
font-size: 18px;
line-height: 1.4em;
font-family: 'slabo', sans-serif;
color: #333;
}
.page{
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}
.hero {
  width: 100vw;
  height: 50vh;
  background: #222 url('./images/test5.jpg') center;
  filter: grayscale(70%);
}
.description{
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
}
.about {
  width: 700px;
}
.about p {
  margin: 10px 0 20px;
}
.feature {
  font-size: 20px;
  font-weight: bold;
}

ol, ul {
list-style: none;
}
.result {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
  overflow: scroll;
}
/* body, header, footer */

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero header h1 {
  color: #fafafa;
}
header, footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
header a {
  padding: 0 5px;
  color: #046e8f;
  text-decoration: none;
  transition: all 0.4s ease;
}

header a:hover {
  text-decoration: underline;
}

footer a {
  text-decoration: none;
  color: #046e8f;
}

.logo {
  font-size: 2em;
  font-weight: 700;
  align-self: flex-end;
  flex-grow: 2;
  text-align: left;
}

/* forms */
.main_container {
  display: flex;
  flex-direction: column;
}
.form_container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-self: center;
}
form {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-self: center;
}
form button {
  align-self: center;
}
.registration_form {
  display: flex;
  flex: 2;
}
.search_container {
  height: 25vh;
  width: 550px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.search_form {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
}
input {
  border: 1 px solid gray;
  margin: 10px;
}
button {
  color: white;
  background: #046e8f;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #046e8f;
  transition: all 0.4s ease;
  cursor: pointer;   
}
/* user dash */

.shelf {
  width: 70vw;
  border-bottom: 13px solid #24252a;
  text-align: center;
	padding: 0 27px;
  margin: 20px auto;
  background: transparent;
}

.shelf:after {
	position: absolute;
	bottom: -13px;
	left: 34px;
	height: 10px;
	background: transparent;
	content: "";
	-webkit-transform: perspective( 150 ) rotateX( -25deg );
	   -moz-transform: perspective( 150 ) rotateX( -25deg );
	    -ms-transform: perspective( 150 ) rotateX( -25deg );
	        transform: perspective( 150 ) rotateX( -25deg );
	right: 34px;
	box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.shelf > div {
		border-bottom: 23px solid #303138;
		position: relative;
		z-index: 1;
	}
	
	.shelf > div:before {
	  content: '';
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 0 0 23px 27px;
	  border-color: transparent transparent #303138 transparent;
	  position: absolute;
	  bottom: -23px;
	  left: -27px;
	  z-index: 2;
	  -webkit-transform:rotate(360deg);
	  -moz-transform:rotate(360deg);
	  transform:rotate(360deg);
	}
	
	.shelf > div:after {
	  content: '';
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 23px 0 0 27px;
	  border-color: transparent transparent transparent #303138;
	  /*position: absolute;*/
	  bottom: -23px;
	  right: -27px;
	  z-index: 2;
	}
	
		.shelf > div > * {
			position: relative;
			z-index: 2;
			top: 18px;
		}

    .book {
      width: 65vw;
      height: 100px;
    }

/*###### Mobile Media Query ######*/
@media screen and (max-width: 600px) {
.about {
  width: 300px;
}

}