body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.4em;
  padding: 50px;
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 150px;
}

p {
  margin: 1em 0;
}

.hero {
  padding: 50px;
  text-align: center;
}

 h1 {
  font-size: 3em;
  line-height: 1.4em;
  font-family: georgia;
  text-transform: capitalize;
  border-bottom: 3px solid rgb(142,216,248);
  padding-bottom: 10px;
}

h2 {
  font-size: 2em;
  font-family: georgia;
  border-bottom: 3px solid rgb(142,216,248);
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  line-height: 1.4em;
}

.more {
  border: 1px solid rgb(142,216,248);
  background-color: rgba(142,216,248, 0.5);
  border-radius: 50px;
  padding: 5px 50px;
  font-family: georgia;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
}

a {
  background-color:  rgba(142,216,248, 0.5);
  display: inline-block;
  font-size: 1.3em;
  padding: 15px 30px;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.5s all;
  color: black;
  margin: 50px 0;
  box-sizing: border-box;
}

a:hover, input[type='submit']:hover {
  background-color: rgb(142,216,248);
  transition: 0.5s all;
}

.my-quote {
  border: 1px solid rgb(142,216,248);
  border-radius: 10px;
  padding: 50px 50px 25px 50px;
  margin: 15px auto;
}

.my-quote h3, .single-quote h3 {
  font-size: 1.8em;
  font-family: georgia;
  font-style: italic;
  line-height: 1.4em;
}

.genre {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}

.my-quote a {
  margin: 0;
  padding: 5px;
  font-size: 0.8em;
  margin: 15px 0 0 0;
}


form {
  display: flex;
  flex-direction: column;
}

input[type='text'] {
  border: none;
  border-bottom: 3px solid rgb(142,216,248);
  margin: 10px;
  font-size: 1.5em;
  padding: 15px;
  transition: 0.5s all;
}

input[type='text']:focus {
  border-bottom: 3px solid black;
  transition: 0.5s all;
  outline: none;
}

input[name='quote'] {
  font-family: georgia;
  font-size: 2em;
}

input[type='submit'] {
  font-size: 1.5em;
  margin: 20px;
  background-color: rgba(142,216,248, 0.5);
  transition: 0.2s all;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  font-family: georgia;
}

.category h3 {
  font-size: 1.5em;
  font-family: georgia;
  text-transform: capitalize;
}

.category .num {
  font-size: 0.5em;
  text-transform: uppercase;
  font-family: sans-serif;
  background-color: rgb(142,216,248);
  padding: 0 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}
.category {
  flex: 1 300px;
}

.allcategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 12px;
  }
}

/* for new index page */

code:not(.highlighter-rouge) {
  font-family: 'fira mono', 'ubuntu mono', 'courier new', monospace;
  padding: 15px;
  white-space: pre-wrap;
  display: block;
}

code.highlighter-rouge {
  font-family: 'fira mono', 'ubuntu mono', 'courier new', monospace;
}

h1,h2,h3,h4,h5,h6 {
  margin: 1em;
  font-weight: bold;
  text-transform: uppercase;
}


snip {
  font-family: 'fira mono', 'ubuntu mono', 'courier new', monospace;
  padding: 3px;
  border-radius: 2px;
  background-color: #fafafa;
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #fafafa; }

.highlight .c {
  color: #b4b7b4; }

/* Comment */
.highlight .err {
  color: #cc6666; }

/* Error */
.highlight .k {
  color: #b294bb; }

/* Keyword */
.highlight .l {
  color: #de935f; }

/* Literal */
.highlight .n {
  color: #1d1f21; }

/* Name */
.highlight .o {
  color: #8abeb7; }

/* Operator */
.highlight .p {
  color: #1d1f21; }

/* Punctuation */
.highlight .cm {
  color: #b4b7b4; }

/* Comment.Multiline */
.highlight .cp {
  color: #b4b7b4; }

/* Comment.Preproc */
.highlight .c1 {
  color: #b4b7b4; }

/* Comment.Single */
.highlight .cs {
  color: #b4b7b4; }

/* Comment.Special */
.highlight .gd {
  color: #cc6666; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gh {
  color: #1d1f21;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #b5bd68; }

/* Generic.Inserted */
.highlight .gp {
  color: #b4b7b4;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #8abeb7;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .kc {
  color: #b294bb; }

/* Keyword.Constant */
.highlight .kd {
  color: #b294bb; }

/* Keyword.Declaration */
.highlight .kn {
  color: #8abeb7; }

/* Keyword.Namespace */
.highlight .kp {
  color: #b294bb; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #b294bb; }

/* Keyword.Reserved */
.highlight .kt {
  color: #f0c674; }

/* Keyword.Type */
.highlight .ld {
  color: #b5bd68; }

/* Literal.Date */
.highlight .m {
  color: #de935f; }

/* Literal.Number */
.highlight .s {
  color: #b5bd68; }

/* Literal.String */
.highlight .na {
  color: #81a2be; }

/* Name.Attribute */
.highlight .nb {
  color: #1d1f21; }

/* Name.Builtin */
.highlight .nc {
  color: #f0c674; }

/* Name.Class */
.highlight .no {
  color: #cc6666; }

/* Name.Constant */
.highlight .nd {
  color: #8abeb7; }

/* Name.Decorator */
.highlight .ni {
  color: #1d1f21; }

/* Name.Entity */
.highlight .ne {
  color: #cc6666; }

/* Name.Exception */
.highlight .nf {
  color: #81a2be; }

/* Name.Function */
.highlight .nl {
  color: #1d1f21; }

/* Name.Label */
.highlight .nn {
  color: #f0c674; }

/* Name.Namespace */
.highlight .nx {
  color: #81a2be; }

/* Name.Other */
.highlight .py {
  color: #1d1f21; }

/* Name.Property */
.highlight .nt {
  color: #8abeb7; }

/* Name.Tag */
.highlight .nv {
  color: #cc6666; }

/* Name.Variable */
.highlight .ow {
  color: #8abeb7; }

/* Operator.Word */
.highlight .w {
  color: #1d1f21; }

/* Text.Whitespace */
.highlight .mf {
  color: #de935f; }

/* Literal.Number.Float */
.highlight .mh {
  color: #de935f; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #de935f; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #de935f; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #b5bd68; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #1d1f21; }

/* Literal.String.Char */
.highlight .sd {
  color: #b4b7b4; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #b5bd68; }

/* Literal.String.Double */
.highlight .se {
  color: #de935f; }

/* Literal.String.Escape */
.highlight .sh {
  color: #b5bd68; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #de935f; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #b5bd68; }

/* Literal.String.Other */
.highlight .sr {
  color: #b5bd68; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #b5bd68; }

/* Literal.String.Single */
.highlight .ss {
  color: #b5bd68; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #1d1f21; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #cc6666; }

/* Name.Variable.Class */
.highlight .vg {
  color: #cc6666; }

/* Name.Variable.Global */
.highlight .vi {
  color: #cc6666; }

/* Name.Variable.Instance */
.highlight .il {
  color: #de935f; }

/* Literal.Number.Integer.Long */
.bigwrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between; }

.wrapper {
  max-width: 1000px;
  width: 80vw;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column; }